*{
    padding: 0;
    margin: 0;
    border: 0;
    text-transform: none;
    text-decoration: none;
}


header {
    background-color: #31203D;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem; 
    border-bottom: 1.5px solid #111111;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 1rem;
}

nav a {
    color: #f6f6f6;
    text-decoration: none;
}




#home{
    background-color: #31203D;
    color: #DDFAC7;
    height: 60vh;
    padding-left: 10%;
    
}

#home h1, p{
    max-width: 400px;
    
    
}

#home h1{
    padding-top: 10%;
    font-size: 3rem;
    padding-bottom: 1rem;
}
#home p{
    border-left: 1px solid #DDFAC7;
    padding-left: .5rem;
    font-size: 1.2rem;
    margin-left: 1%;
}

#projetos{
    background-color: #2F073B;
    color: #DDFAC7;
    height: 65vh;
}

#projetos h1{
    font-size: 3rem;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imgs{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

}

.imgs span{
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.imgs img{
    width: 20%;
    margin: 3rem;
}

.ima-center{
    height: 25vh;
}


#trab{
    height: 60vh;
    background-color: #31203D;
}

#trab h1{
    color: #DDFAC7;
    font-size: 3rem;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trab h2{
    color: #f6f6f6;
 }
.container-balao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container-balao p{
    color: #DDFAC7;
    border-top: 1px solid#DDFAC7;
    
}



.primeiro-balao, .segundo-balao, .terceiro-balao, .quarto-balao{
    background-color: #271930;
    margin: 1rem;
    padding: 1rem;
    max-width: 150px;
    border-radius: 15px;
}

#trab p{
    padding-top: .5rem;
}

#trab h2{
    padding-bottom: .5rem;
}


#contato{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2F073B;
}


.container{
    position: relative;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #32233c;
    border-radius: .9rem;
}

    

.container input{
    padding: .7rem;
    border-radius: 1rem;
    width: 80%;
    margin-top: 1.5rem;
    background-color: #2F073B;
    color: #B3B3B3;
}

.container button {
    position: absolute;
    bottom: 2rem;
    right: 1.5rem;
    padding: 0.6rem 1rem;
    background-color: #2F073B;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    font-size: .6rem;
    cursor: pointer;
    color: #B3B3B3;
   }

.container h2{
    color: #f6f6f6;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
}


.container_dois{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3C1F4D;
    width: 94%;
    height: 93%;
    border-radius: .8rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F073B;
    color: #f6f6f6;
    border-top: 1px solid #627057;
    padding: .6rem;
}



@media screen and (min-width: 400px) and (max-width: 800px) {
    header{
        display: none;
    }

    #home{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        height: 50vh;
        
    }

    #home h1{
        margin-top: 4rem;
        font-size: 2.5rem;
    }

    #home p{
        
        font-size: 1rem;
        max-width: 75%;
        border-top: 1px solid ;
        border-left: none;
        padding-top: .5rem;
    }

    #projetos{
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .imgs .ima-center{
        display: none;
    }

    .imgs img{
        margin: 1rem
    }

    #trab{
        overflow: hidden;
        height: 70vh;
    }

    #trab h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5rem;
    }

    

    .container-balao{
        flex-wrap: wrap;
    }


    #contato{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contato .container_dois{
        width: 80vw;
    }


    .container{
        background-color: transparent;
        border: none;
    }

    #contato h2{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container button{
        
        right: -6.5rem;
    }
}


    @media screen and (min-width: 300px) and (max-width: 428px) {
        header{
            display: none;
        }
    
        #home{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: left;
            height: 50vh;
            
        }
    
        #home h1{
            margin-top: 4rem;
            font-size: 2.5rem;
        }
    
        #home p{
            
            font-size: 1rem;
            max-width: 75%;
            border-top: 1px solid ;
            border-left: none;
            padding-top: .5rem;
        }
    
        #projetos{
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
    
        .imgs .ima-center{
            display: none;
        }
    
        .imgs img{
            margin: 1rem
        }
    
        #trab{
            overflow: hidden;
            height: 140vh;
        }
    
        #trab h1{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
        }
    
        
    
        .container-balao{
            height: 50%;
            flex-wrap: wrap;
        }
    
    
        #contato{
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #contato .container_dois{
            width: 80vw;
        }
    
    
        .container{
            background-color: transparent;
            border: none;
        }
    
        #contato h2{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 1rem;
        }
    
        .container button{
            position: absolute;
            bottom: 1rem;
            right: -4.5rem;
            padding: 0.2rem 1rem;
        
        }
}

