*{
    padding: 0;
    margin: 0;
    border: 0;
    text-transform: none;
    text-decoration: none;
}


header {
    background-color: #31203D;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem; 
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 1rem;
}

nav a {
    color: #f6f6f6;
    text-decoration: none;
}





.home{
    background-color: #31203D;
    color: #DDFAC7;
    height: 60vh;
    padding-left: 10%;
    
}

.home h1, p{
    max-width: 400px;
    
    
}

.home h1{
    padding-top: 10%;
    font-size: 3rem;
    padding-bottom: 1rem;
}
.home p{
    border-left: 1px solid #DDFAC7;
    padding-left: .5rem;
    font-size: 1.2rem;
    margin-left: 1%;
}

.projetos{
    background-color: #2F073B;
    color: #DDFAC7;
    height: 60vh;
}

.projetos h1{
    font-size: 3rem;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imgs{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.imgs img{
    width: 20%;
    margin: 3rem;
}

.ima-center{
    height: 25vh;
}


.trab{
    height: 60vh;
    background-color: #31203D;
}

.trab h1{
    color: #DDFAC7;
    font-size: 3rem;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-balao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.container-balao p{
    color: #DDFAC7;
    border-top: 1px solid#DDFAC7;
    
}



.primeiro-balao, .segundo-balao, .terceiro-balao, .quarto-balao{
    background-color: #271930;
    margin: 1rem;
    padding: 1rem;
    max-width: 150px;
    border-radius: 15px;
}

.trab p{
    padding-top: .5rem;
}

.trab h2{
    padding-bottom: .5rem;
}
